<!DOCTYPE html>
<html class="min-h-screen bg-gray-50 m-0 p-0">

<head>
  <title>Portfolia</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="min-h-screen bg-gray-50 m-0 p-0">
  <div class="min-h-screen flex flex-col">
    <!-- Navbar/Header -->
    <header>
      <div class="w-full bg-white shadow">
        <div class="max-w-7xl mx-auto px-4 py-6">
          <div class="flex justify-between items-center">
            <h1 class="text-3xl font-bold text-gray-900">
              <%= link_to "Portfolia", accounts_path %>
            </h1>
            <div class="flex items-center space-x-4">
              <% if logged_in? %>
              <span class="text-sm text-gray-700">Welcome, <%= current_user.email %></span>
              <%= link_to "Logout", logout_path, method: :delete, class: "text-sm font-medium text-indigo-600 hover:text-indigo-500" %>
              <% else %>
              <%= link_to "Login", login_path, class: "text-sm font-medium text-indigo-600 hover:text-indigo-500" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main content -->
    <main class="flex-1 w-full">
      <%= yield %>
    </main>
  </div>
</body>

</html>